.product-card{
  border: 1px solid #eee;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 5px;

  display: flex;
  flex-direction: column;
}

.image-sec{
  flex: 1;
  border: 1px solid green;

  display: flex;
  justify-content: center;
}

.title-sec{
  border: 1px solid yellow;
}

.title-sec span{
  display: block;
  width: 150px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.price-sec{
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}

.btn-sec{
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
}

.section2{
  flex: 0;
  margin: auto 5px;
  /* border: 1px solid blue; */
}

.section3{
  flex: 0;
  margin: auto 5px;
  border-bottom: 1px solid var(--text);
  /* border: 1px solid orange; */
}
.section4{
  flex: 0;
  display:flex;
  margin: 5px 5px;
  
  justify-content: space-between;
  /* border: 1px solid orange; */
}