.card{
  border: 1px solid var(--text);
  background: white;
  border-radius: 8px;
  margin: 10px 10px;
  box-shadow: 0 0 5px;
  height: 225px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card div{
  color: var(--text);
}
.image-section{
  flex: 1 1 100px;

  display: flex;
  justify-content: center;
}
.section2{
  flex: 0;
  margin: auto 5px;
  /* border: 1px solid blue; */
}
.section2 p{
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.section3{
  flex: 0;
  margin: auto 5px;
  border-bottom: 1px solid var(--text);
  /* border: 1px solid orange; */
}
.section4{
  flex: 0;
  display:flex;
  margin: 5px 5px;
  
  justify-content: space-between;
  /* border: 1px solid orange; */
}