html,body{
    margin: 0;
    background: #fafafa;
    overflow: hidden;
}

.container{
    border: 1px solid red;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header, footer{
    height: 100px;
}
header{
    background-color: blue;
}
.content{
    flex: 1;
}
footer{
    background-color: green;
}