:root{
    --background: #FAFAFA;
    --primary: #00C6CF;
    --secondary: #E1FFFA;
    --text: #a7a6a6;
}

html,body{
    margin: 0;
    background: var(--background);
    overflow: hidden;
}

a{
    color: black;
}

.material-icons{
    color: var(--text);
    cursor: pointer;
}
.material-icons:hover{
    color: var(--primary);
    cursor: pointer;
}

.container{
    /* border: 1px solid red; */
    height: 100vh;
    max-width: none;

    display: flex;
    flex-direction: column;
}

a{
    color: var(--text);
}
a:hover{
    color: var(--primary);
}

header{
    height: 75px;
    border: 1px solid var(--text);

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
}
header div{
    flex: 1;
}
header .header-name{
    margin-left: 50px;
    margin-right: 20px;
}

main{
    flex: 1;
}

footer{
    height: 50px;
    border: 1px solid var(--text);

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
}
footer div{
    /* border: 1px solid red; */
    flex: 1;

    display: flex;
    justify-content: center;
}