*{
    font-family: verdana;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    background: #fafafa;
}
body{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1 0 auto;
}
.flex-container{
    border: 1px solid green;
    margin: 20px 0;
}