.navbar-wrapper {
    /* border: 1px solid red; */
    margin: auto 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btns{
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
}
.menu-btns div{
    display: flex;
    justify-content: flex-end;
}